<?xml version="1.0"?>
<!--
-->
<launch>

	<node name="marker_navigation" 
		pkg="marker_navigation" 
		type="marker_navigation_node" 
		respawn="false" 
		output="screen">
		
		<param name="pose_markers" value="/ar_pose_marker"/>		


		<param name="verbose" type="bool" value="true"/>

		<param name="verbose_input_image_topic" value="/softkinetic_camera/rgb/image_color"/>
		<param name="verbose_camera_info_topic" value="/softkinetic_camera/rgb/camera_info"/>
		
		<param name="verbose_output_image_topic" value="/marker_navigation/verbose_image"/>
		
	</node>

</launch>
